/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
  HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

:root {
  /* color variables for theming */
  --bg-dark: #000000;
  --bg-light: #05213c;
  --white-text: #d6dade;
  --body-text: #ff000d;
  --text-highlight: #f99a4c;
}

body, div, main, section, article {
  box-sizing: border-box; 
}

/* universal background color */
body {
  background-color: var(--bg-dark); 
  /* default text properties outside divs */
  color: var(--white-text);
  font-family: 'Franklin Gothic Medium', serif;
  font-size: medium;
}

/* header stuff */
header {
  display: flex;
  flex-direction: row;
  margin: 40px auto 40px auto;

  width: 976px;
  max-width: 98%;
}
header a:has(img) {
  flex: 70%;
}
header img {
  height: 4.5em;
}

/* clearfix hack to prevent image overflow. check out the W3Schools page on it. */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*FONTS*/

/* custom font */
@font-face {
  font-family: 'Libertine';
  src: url('../fonts/LinLibertine_R.ttf');
}

/* header font */
#showComic, header, h1, h2, h3, h4, h5 {
  font-family: 'Libertine', sans-serif;
}

/* header sizes */
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

/* body text color */
.subPage p, footer, #authorNotes, .archiveTable {
  color: var(--body-text)
}

/* STYLING FOR SUBPAGES (about, characters, etc) */

/*general*/

.subPage {
  width: 1000px;
  max-width: 98%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px 12px 12px;
}

.subPage:not(.archivePage) {
  text-align: center;
}

/* for pictures displayed to the left */
.leftPic {
  clear: left;
  float:right;
  margin-left:20px;
}

/* for pictures displayed to the left */
.rightPic {
  clear: right;
  float:left;
  margin-left:20px;
}

/* specific to Characters */
.charTable, .charTable td { 
  width: 70%;
  text-align: center;
  padding-bottom: 40px;
  margin: auto;
}
.charTable p {
  text-align: left;
}

/* change character image on hover */
.charContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  margin: auto;
}
.charContainer img {
  width: 100%;
}
.charPreview {
  position: relative;
  top: 0;
  left: 0;
}
.charHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.charHover:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

/* link colors */
a {
      color: var(--body-text);
    }

a:hover {
      color: var(--text-highlight);
    }

/* 18+ content filter */
.contentFilter {
  width: 50%;
  margin: auto;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contentFilter img {
  width: 100%;
}

/* page title card */
.pageTitle {
  width: 100%;
  min-height: 100px;
  padding: 1px;
  padding-left: 190px;
  margin-bottom: 100px;
  text-align: left;
  background-image: url("../img/background-animated.webp");
  background-size: cover;
  background-position: 50% 70%;
  background-blend-mode: screen;
}
.pageTitle .titleOverlay {
  width: 0;
  margin-left: -200px;
}
.pageTitle .titleOverlay img {
  position: absolute;
  width: 180px;
  top: 170px;
}

/* HEADER */
header #nav {
  font-size: 1.5em;
  width: 98%;
  margin: auto;
}
header #nav a {
  padding: 15px;
  text-decoration: none;
}

/* HOMEPAGE */

/* style nav button images */
.comicNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.comicNav img {
  width: 80px;
  max-width: 98%;
  padding-left: 15px;
  padding-right: 15px;
}
.comicNav .comicNavCenter {
  width: 250px;
  margin-top: 2em;
}

/* style comic page image */
.comicPage img {
  width: 900px;
  max-width: 98%;
}

/* style author notes */
#authorNotes {
  margin: auto;
  margin-top: 50px;
  padding: 3px;
  width: 900px;
  max-width: 98%;
}
#authorNotes h1,
#authorNotes h2,
#authorNotes h3 {
  text-align: center;
}

/* ARCHIVE PAGE */

/* style table in which archive is displayed */
.archiveTable {
  width: 70%;
  border-collapse:collapse;
}

/* style archive table cells */
.archiveTable td {
  padding: 3px;
  vertical-align: center;
}

/* style table cell in which page title is displayed */
.archiveCellTitle:not(.leftAlignTableText) {
  max-width: 300px;
  text-align: center;
}

.archiveCellDate {
  text-align: right;
  min-width: 120px;
}

.archiveCellNum {
  text-align: center;
  min-width: 30px;
}

/* style the thumbnails on the archive page */
.archiveCellThumb {
    width: 500px;
    max-width: 60px;
}
.archiveCellThumb img{
    max-width: 100%;
  }

/* for left aligning the text in a table cell */
.leftAlignTableText td {
  text-align: left;
}

/* highlight a table row and make pointer into hand when moused over */
.archiveRow:hover {
  background-color: var(--bg-light);
  color: var(--text-highlight);
  cursor: pointer;
}

/* FOOTER */
footer {
/*  color: #421a1a; */
  margin-top: 12px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

footer p {
  margin: auto;
}

/*footer a {
  color: #c8d32b
}

footer a:hover {
  color: #868d26
}*/

hr {
  width: 900px;
  max-width: 98%;
}

/* take away margins from the edges of the screen */
html, body {
  margin: 0;
}

/* images over page backgrounds */
.backgroundImage {
  position: fixed;
  top: 15vh;
  left: 15%;
  width: 70%;
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
}

/* comic page styling */
#showComic {
  width: 600px;
  max-width: 100%;
}
.comicPage {
  margin-top: 100px;
}

/* comic navigation button styling */
.writeNav a,
.writeNav p {
  font-size: 1.5em;
  text-decoration: none;
}


/* media queries for mobile support */
@media only screen and (max-width: 600px) {
  
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}

header {
  flex-direction: column;
  margin: 20px 0px;
}
header img {
  height: 3em;
  margin-bottom: 10px;
}
header #nav {
  font-size: 1.25em;
}
header #nav a {
  padding: 5px;
}

.pageTitle {
  padding-left: 120px;
  min-height: 75px;
  margin-bottom: 75px;
}
.pageTitle .titleOverlay {
  margin-left: -120px;
}
.pageTitle .titleOverlay img {
  width: 110px;
  top: 150px;
}

.contentFilter {
  width: 80%;
  margin-top: -20px;
}

.charTable {
  width: 100%;
}

.backgroundImage {
  top: 30vh;
  left: 0;
  width: 100%;
}

.comicPage {
  margin: 50px 1% 25px 1%;
}

.writeNav a,
.writeNav p {
  font-size: 1em;
}
.comicNav .comicNavCenter {
  width: 100px;
  margin-top: 1em;
}

}