/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
  HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

:root {
  /* color variables for theming */
  --bg-dark: #1f2d46;
  --bg-light: #385992;
  --link: #eabd63;
  --link-highlight: #dd9638;
}

body, div, main, section, article {
  box-sizing: border-box; 
}

/* universal background color */
body {
  background-color: var(--bg-dark); 
  color: #d6dade;
}

/* header image */
header img {
  width: 500px;
  max-width: 98%;
}

/* clearfix hack to prevent image overflow. check out the W3Schools page on it. */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*FONTS*/

/* custom handwriting font */
@font-face {
  font-family: 'Handwriting';
  src: url('../fonts/HyningsHandwritingV2-Regular.ttf');
}

/* header font */
#showComic, header, h1, h2, h3, h4, h5 {
  font-family: 'Handwriting', sans-serif;
}

/* header sizes */
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

/* body font */
.subPage p, footer, #authorNotes, .archiveTable {
  font-family: 'Brush Script MT', cursive;
  font-size: medium;
}

/* STYLING FOR SUBPAGES (about, characters, etc) */

/*general*/

.subPage {
  width: 1000px;
  max-width: 98%;
  background-color: var(--bg-light);
  outline: 3px solid #ffffff;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 6px 12px 12px;
}

.subPage:not(.archivePage) {
  text-align: center;
}

/* for pictures displayed to the left */
.leftPic {
  clear: left;
  float:right;
  margin-left:20px;
}

/* for pictures displayed to the left */
.rightPic {
  clear: right;
  float:left;
  margin-left:20px;
}

/* specific to Characters */
.charTable, .charTable td { 
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

/* change character image on hover */
.charContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  display: block;
  margin: auto;
}
.charContainer img {
  width: 100%;
}
.charPreview {
  position: relative;
  top: 0;
  left: 0;
}
.charHover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.charHover:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

/* link colors */
a {
      color: var(--link);
    }

a:hover {
      color: var(--link-highlight);
    }

/* 18+ content filter */
.contentFilter {
  width: 50%;
  margin: auto;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contentFilter img {
  width: 100%;
}

/* HEADER */
header #nav {
  background-color: var(--bg-light);
  outline: 3px solid #ffffff;
  font-size: 30px;
  width: 98%;
  padding: 5px;
  margin: auto;
}

/* HOMEPAGE */

/* style nav button images */
.comicNav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.comicNav img {
  width: 80px;
  max-width: 98%;
  padding-right: 30px;
}

/* style comic page image */
.comicPage img {
  width: 900px;
  max-width: 98%;
}

/* style author notes */
#authorNotes {
  background-color: var(--bg-light);
  outline: 3px solid #ffffff;
  margin: auto;
  padding: 3px;
  width: 900px;
  max-width: 98%;
}
#authorNotes h1,
#authorNotes h2,
#authorNotes h3 {
  text-align: center;
}

/* ARCHIVE PAGE */

/* style table in which archive is displayed */
.archiveTable {
  width: 90%;
  border-collapse:collapse;
}

/* style archive table cells */
.archiveTable td {
  padding: 3px;
  vertical-align: center;
  
}

/* style table cell in which page title is displayed */
.archiveCellTitle:not(.leftAlignTableText) {
  max-width: 300px;
  text-align: center;
}

.archiveCellDate {
  text-align: right;
  min-width: 120px;
}

.archiveCellNum {
  text-align: center;
  min-width: 30px;
}

/* style the thumbnails on the archive page */
.archiveCellThumb {
    width: 500px;
    max-width: 60px;
}
.archiveCellThumb img{
    max-width: 100%;
  }

/* for left aligning the text in a table cell */
.leftAlignTableText td {
  text-align: left;
}

/* highlight a table row and make pointer into hand when moused over */
.archiveRow:hover {
  background-color: #DA5437;
  cursor: pointer;
}

/* FOOTER */
footer {
/*  color: #421a1a; */
  margin-top: 12px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

footer p {
  margin: auto;
}

/*footer a {
  color: #c8d32b
}

footer a:hover {
  color: #868d26
}*/

/* take away margins from the edges of the screen */
html, body {
  margin: 0;
}


@media only screen and (max-width: 600px) {
  
.contentFilter {
  width: 80%;
  margin-top: -20px;
}

}